* {
    padding: 0;
    margin: 0;
}

html, body, iframe, td, table, iframe html {
    height: 100%;
}

iframe {
    width: 100%;
    height: 100%
}

#content-panel {
    height: 100%;
    display: inline-block;
    position: relative;
}


#log-panel {
    width: 300px;
}

#buttons-panel {
    width: 100px;
    text-align: center;
    padding: 10px;
    float: left;
}

#buttons-panel button {
    padding: 10px;
    width: 80px;
    margin-bottom: 20px;
}

#buttons-panel h1 {
    font-size: 0.8em;
}

#buttons-panel p {
    font-size: 0.8em;
    margin-bottom: 20px;
}

.panel {
    border: solid 1px black;
    display: inline-block;
    float: left;
    margin-right: 10px;
}

.panel.dialog {
    height: 300px;
    width: 500px;
}
.panel.sidebar {
    width: 240px;
    height: 100%;
}

.panel.log {
    width: 100px;
    height: 100%;
    overflow: scroll;
}

#container {
    height: 100%;
    width: 100%;
    overflow: hidden;
    padding: 10px;
}