<html>
<head>
    <script src='https://dev-lib.stride.com/javascript/simple-xdm.js'></script>
    <script src="/socket.io/socket.io.js"></script>
    <meta name="userId" content="{{userId}}"/>
    <meta name="conversationId" content="{{conversationId}}"/>
    <meta name="cloudId" content="{{cloudId}}" />
    <script>
        let socket = io();
    </script>
</head>
<body>
<div id="sidebar"/>
<script src="/js/sidebar.js"></script>

</body>
</html>
