* {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

.dialog {
  .question {
    margin-top: 10px;
  }
  .question-container {
    display: flex;
  }
  .drag-handle {
    flex: 20px;
    margin: auto;
    color: #bbb;
    cursor: row-resize;
  }
  .choice-field {
    width: 422px;
    flex: auto;
    padding: 8px 0;
  }
  .choice-actions {
    margin-left: 10px;
    padding: 8px 0;
    flex: 40px;
    button {
      height: 36px;
    }
  }
}