* {
  padding: 0;
  margin: 0;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Noto Sans", "Ubuntu", "Droid Sans", "Helvetica Neue", sans-serif;
}

.loading {
  position: absolute;
  top: 40px;
}

.populated {
  position: absolute;
  top: 10px;
  .poll {
    line-height: 18px;
    img {
      height: 24px;
    }
  }
}

.view,.submit {
  position: absolute;
  top: 20px;
}

.view .options {
  padding-top: 10px;
  .option {
    padding-top: 5px;
  }
}

.empty {
  position: absolute;
  top: 40px;
  text-align: center;

  .image {
    padding-bottom: 20px;
  }

  .buttons {
    padding-top: 20px;
  }
}

.poll-list-empty {
  font-style: italic;
  font-size: 0.8em;
  margin-left: 6px;
}

.poll-list {
  border-bottom: 1px solid #888;
  padding-bottom: 8px;
  margin-bottom: 18px;
  text-align: left;
}

.poll-list.closed {
  filter: opacity(35%);
}

.poll-list-header {
  text-align:left;
  margin-bottom: 8px;
  color: #42526E;
  font-size: 1em;
  font-weight: 300;
}

.poll:hover {
  background-color: #efefef;
}

.poll {
  position: relative;
  text-align: left;
  background: no-repeat left center;
  background-size: 2em;
  padding: 14px 6px 14px 28px;
  background-image: url("/logo/blue.svg");
  cursor: pointer;
}

.poll .name {
  font-size: 14px;
}

.poll-action-button {
  margin: 2px;
}

.panel {
  font-size: 14px;
  width: 100%;
  margin: auto;
  text-align: center;

  .title {
    font-size: 16px;
    font-weight: 400;
    color: #42526E;
  }

  .subtitle {
    color: #42526E;
    font-size: 12px;
    margin: 10px;
    line-height: 2em;
  }

  .buttons {
    margin: 10px;
  }

  .closed-notification {
    font-style: italic;
    font-size: 0.9em;
    color: #888;
  }

  .answer-label {
    text-align: left;
  }

  .options {
    text-align: left;
    line-height: 1.5em;
    .label {
      display: inline-block;
      width: 100%;
      font-size: 12px;
      color: #42526E;
    }
    .bar {
      display: inline-block;
      width: 100%;
      height: 1em;
      padding-bottom: 2px;
    }
    .bar-filled-segment {
      border-radius: 6px;
    }
    .bar-container {
      display: inline-block;
      width: 100%;
    }
    .individual-vote-count {
      font-size: 0.8em;
      float: right;
    }

    .option-container {
      border-bottom: 1px solid #eee;
      padding-bottom: 10px;
    }

    .bar:hover {
      filter: brightness(130%);
    }
  }

  .answers-display {
    margin-top:8px;
  }

  .questions {
    margin-bottom: 20px;
  }
}
